/* Customized style in addition to bootstrap */

/* Body styling*/

body {
  font: 15px Roboto 0.5;
}

a {
  color: #FFFFFF;
}

a:hover,
a:active {
  color:#3676b2;
  background-color: rgba(256,256,256,0);
}

/* Side bar/nav styling */


.sidebar {
  height: 100%;
  position: fixed;
  padding: 10px 5px 10px 5px;
  background-color: rgba(75,75,75,0.6);
  box-shadow: inset -2px 2px 5px rgba(60,60,60,0.5);
  -webkit-box-shadow: inset -2px 2px 5px rgba(60,60,60,0.5);
  -moz-box-shadow: inset -2px 2px 5px rgba(60,60,60,0.5);
  z-index: 100;
}

.nav>li>a:hover,
.nav>li>a:focus {
    background-color:#ffffff;
}

.nav-item {
  font-weight: bold;
}

.content {
  margin-right: 20px;

}

.section {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px 15px;
  border-bottom: 1px solid rgba(100,100,100, 0.4);
}

.section-left {
  border-left: 4px solid #ADEAE2;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 30px;
  margin-right: 0;
  display: none;
}


/* Home Page with background Image styling */

#home-page {
  background: url("../img/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  width: 100%;
  opacity: 0.9;
  color: #FFFFFF;
  border-bottom: 2px solid rgb(100,100,100);
  box-shadow: 1px 1px 4px rgb(75,75,75);
}

.hometitle {
  position: relative;
  font-size: 1.3em;
  top: 30%;
}

.title {
  font-size: 3em;
  font-weight: bold;
}

/*Design for animated arrow. Use container to hold arrow*/
.arrwContainer {
    width: 200px;
    height: 75px;
    background: rgba(100,103,104,0);
    position: absolute;
    text-align: center;
    left: calc(50% - 100px);
    right: calc(50% - 100px);
    bottom: 0;
}

/* Animation for arrow. Adust border width and adjust positioning to appear
bouncing, taken from previous project. */
@keyframes arrow {
    0% {}
    50% {border-left, border-bottom: solid rgb(252,252,248) 5px; width: 55px; height: 55px; top: -10px;}
    100% {border-left, border-bottom: solid rgb(252,252,248) 3px; width: 50px; height: 50px; top: 0px;}
}

@-webkit-keyframes arrow {
    0% {}
    50% {border-left, border-bottom: solid rgb(252,252,248) 5px; width: 55px; height: 55px; top: -20px;}
    100% {border-left, border-bottom: solid rgb(252,252,248) 3px; width: 50px; height: 50px; top: 0px;}
}

/* the arrow link. Simply border bottom and border left rotated 45 degrees
  counter-clockwise */
.arrow {
    width: 50px;
    height: 50px;
    border-left: solid rgb(256,256,252) 5px;
    border-bottom: solid rgb(256,256,252) 5px;
    margin: 0 auto;
    position: relative;
    transform: rotate(-45deg);
    animation-name: arrow;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
    -webkit-animation-name: arrow;
    -webkit-animation-duration: 1.8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 0.5s;
}

.arrow:hover {
  border-left: solid #ADEAE2 5px;
  border-bottom: solid #ADEAE2 5px;
}

/* Main Page Starting - Overview */

.profile {
  width: 230px;
  height: 230px;
  margin: 10px 0px;
  box-shadow: 1px 3px 3px rgba(50,50,50,0.8);
}

/* Styling that extends a container to be only 50% of its bounds. */
.sm {
  max-width: 40%;
}

/* Styling that extends a container to be only 70% of its bounds. */
.med {
  max-width: 70%;
}

.container {
  margin: 20px auto;
}

.timeline-sec::before {
  content: '';
  position: relative;
  right: 50px;
  top: 15px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #ADEAE2;
  /*border: 1px solid #c1c1c1;*/
  box-shadow: 1px 2px 2px rgba(100,100,100,0.6);
}


/* Skills Section */

.skill-sec {
  margin: 15px 0px;
}

#Skills .label {
  font-size: 16px;
  margin: 10px 5px;
  background-color: #FFFFFF;
  color: rgb(75,75,75);
  border: 1px solid #adeae2;
  padding: 10px;
  font-weight: normal;
}

.langs {
  text-align: right;
  font-size: 15px;
}

.project-box {
  width: 100%;
  position: relative;
  margin: 5px;
}

.label-default {
  margin: 4px 2px;
  display: inline-block;
}

.project-box img {
  margin: 10px 5px;
  max-width: 120px;
}

.no-style {
  color: black;
  height: 100%;
}

.no-style:hover,
.no-style:active {
  color: #2a2a2a;
  text-decoration: none;
}

.project-box span {
  margin-top: 10px;
}

#Projects .row h1 {
  position: absolute;
  top: 40%;
  left: 40%;
  font-size: 4em;
}

#Projects .row {
  display: table;
  width: 100%;
  margin: 30px 0px;
}

#Projects .row .col-md-4 {
  float: none;
  display: table-cell;
  vertical-align: top;
  height: 100%;
  border-radius: 5px;
}

.carousel {
  max-height: 350px;
}

/* Individual project Project Page styling */
.jumbotron {
  background-color: #CBF4EF;
  margin-top: 20px;
  box-shadow: 0px 2px 5px rgba(60,60,60,0.7);
  -webkit-box-shadow: 0px 2px 5px rgba(60,60,60,0.7);
  -moz-box-shadow: 0px 2px 5px rgba(60,60,60,0.7);
}

.jumbotron .label {
  font-size: 1.1em;
}

.project-bullets {
  margin: 20px auto;
  border-top: 1px solid rgba(60,60,60,0.4);
  padding: 20px 5px;
  width: 75%;
  font-size: 1.1em;
}

.project-bullets li {
  line-height: 1.7;
}


/* If the browser window is smaller than 600px, make the columns stack on top of each other */
@media only screen and (max-width: 800px) {
  #Projects .row {
    display: initial;
  }

  #Projects .row .col-md-4 {
    display: initial;
  }
}
