<!-- Home Page content. -->
<div id="home-page">
  <div class="hometitle">
    <p class="text-uppercase title">Hi, I'm Sarah Gemperle</p>
    <samp>A UCSD CSE Undergrad.</samp>
  </div>
  <div class="arrwContainer">
    <a href="#Overview">
      <div class="arrow"></div>
    </a>
  </div>
</div>

<!--  Class to indicate margins need to account for sidebar (basically all pages aside from initial image page)  -->
<div class="content">

<div id="Overview" class="container-fluid section">
  <div class="container sm">
    <img class="img-circle profile" src="img/profileimg.jpg"/>
    <blockquote><samp style="font-size: 13px;"> cout << "It is our choices that show who we truly are, far more than our abilities." << endl; </samp>
      <footer><cite title="Source Title">Albus Dumbledore</cite></footer>
    </blockquote>
  </div>
  <div class="container med">
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. "</p>
  </div>
</div> <!-- End Overview -->



<div id="Experience" class="container-fluid section">
  <h1>Experience</h1>

  <div class="container med">
    <div class="row section-left timeline-sec">
      <div class="col-md-4">
        <img src="img/UCSDlogo.jpg"/>
      </div>
      <div class="col-md-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
      </div>
    </div>

    <div class="row section-left timeline-sec">
      <div class="col-md-4">
        <img src="img/codepath.png"/>
      </div>
      <div class="col-md-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
      </div>
    </div>

    <div class="row section-left timeline-sec">
      <div class="col-md-4">
        <img src="img/eggshawaii.png"/>
      </div>
      <div class="col-md-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
      </div>
    </div>

  </div>
</div> <!-- End Experience-->


<div id="Skills" class="container-fluid section">
<h1>Skills</h1>
<div class="container sm">
<blockquote><samp style="font-size: 13px;"> "If you're afraid of failure, you don't deserve success." </samp>
  <footer><cite title="Source Title">Nastia Liukin</cite></footer>
</blockquote>
</div>
<div class="container-fluid">

<div class="skill-sec">
<h3>Languages</h3>

  <div class="row" ng-repeat="lang in languages">

    <div class="col-md-3 langs lead"><p> {{ lang.lang }} </p></div>

    <div class="col-md-7">
      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: {{lang.level}}%" aria-valuenow="{{lang.level}}" aria-valuemin="0" aria-valuemax="100">{{lang.desc}}</div>
      </div>
    </div>

  </div>
</div>

<div class="skill-sec">
  <h3>Tools and Technologies</h3>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <span ng-repeat="tool in tools" class="label label-default">{{tool}}</span>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

</div>
</div> <!-- End Skills -->

<div id="Projects" class="container-fluid section">
  <h1>Projects</h1>
  <div class="container-fluid">

    <!-- Loop through projects 3 at a time, making rows of 3 columns until projects have been exhausted. -->
    <div class="row" ng-repeat="project in projects track by $index" ng-if="$index % 3 == 0">

      <div class="col-md-4"
           ng-repeat="i in [$index, $index + 1, $index + 2]"
           ng-if="projects[i] != null" project-col>

        <a class="no-style" href="#!/projects/{{i}}">
          <div class="project-box">
            <h4>{{projects[i].name}}</h4>
            <div>
              <img ng-src="{{ projects[i].media[0] }}">
            </div>
            <span ng-repeat="tech in projects[i].technologies" class="label label-default">{{tech}}</span>
          </div>
        </a>

      </div>
    </div>



  </div>
</div>  <!-- End Projects-->



</div> <!-- End Content -->




<!--
<div class="item col-md-4" ng-repeat="photo in photos">
    <a href="#/photos/{{$index}}">
      <img class="img-responsive" ng-src="{{ photo.url }}">
      <p class="author">by {{ photo.author }}</p>
    </a>
</div>-->
